USE [QLCUNGUNG]
GO
/****** Object:  StoredProcedure [dbo].[AddNewGhiLog]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddNewGhiLog]
	@action nvarchar(10),
	@username varchar(50),
	@timeAction DateTime,
	@content ntext,
	@tableName nvarchar(50)
AS
BEGIN
	INSERT INTO GhiLog VALUES(@action,@username,@timeAction,@content, @tableName);
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllGhiLog]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllGhiLog]
	@id varchar(10)
AS
BEGIN
	select * from GhiLog where (@id = '' or Id = @id)
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllSQLSparql]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllSQLSparql] 
	@id nchar(5)
AS
BEGIN
	select * from SQLSPARQL where @id = '' or Id = @id
END

GO
/****** Object:  StoredProcedure [dbo].[HangTonKho]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[HangTonKho]

AS
BEGIN
	create table #Temp1(
		MaSP int,
		SoLuong int
	)

	create table #Temp2(
		MaSP int,
		SoLuong int
	)

	insert into #Temp2(MaSP,SoLuong) select MaSP, sum(SoLuong) as SoLuong from chitietdonhangxuat group by MaSP

	insert into #Temp1(MaSP,SoLuong) select MaSP, sum(SoLuong) as SoLuong from CHITIETDONHANGNHAP group by MaSP


	select SANPHAM.TenSP, #Temp1.MaSP,#Temp1.SoLuong as SLN,#Temp2.SoLuong as SLX,  (#Temp1.SoLuong - #temp2.SoLuong) as SoLuongConLai
	from #Temp1 
	left join #temp2 on #temp1.MaSP = #temp2.MaSP 
	left join SANPHAM on SANPHAM.MaSP = #Temp1.MaSP
	where (#Temp1.SoLuong - #temp2.SoLuong) > 0 order by   #Temp1.MaSP

END

GO
/****** Object:  StoredProcedure [dbo].[sp_FindDonHangNhap]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindDonHangNhap] @maLoaiSP NVARCHAR(Max)
AS
BEGIN TRY
  select nv.Hoten,'' as TenDL, ct.MaDHN as MaDHX,ct.TrangThai as TrangThai, '' as TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai, sp.MaSP,dhn.ThoiGian, dhn.PhuongTien from DONHANGNHAP dhn
		left join CHITIETDONHANGNHAP ct on dhn.MaDHN = ct.MaDHN
		left join SANPHAM sp on sp.MaSP = ct.MaSP
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		left join NHANVIEN nv on nv.MaNV = dhn.MaNV
		left join NHACUNGCAP ncc on ncc.MaNCC = sp.MaNCC
		
		where dhn.MaDHN = @maLoaiSP and ct.isXoa = 0 and dhn.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindDonHangNhapTonKho]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindDonHangNhapTonKho] @maSP NVARCHAR(Max)
AS
BEGIN TRY
  select nv.Hoten,'' as TenDL, ct.MaDHN as MaDHX,ct.TrangThai as TrangThai, '' as TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai, sp.MaSP,dhn.PhuongTien,dhn.ThoiGian
		from CHITIETDONHANGNHAP ct
		left join DONHANGNHAP dhn on dhn.MaDHN = ct.MaDHN
		left join SANPHAM sp on sp.MaSP = ct.MaSP
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		left join NHANVIEN nv on nv.MaNV = dhn.MaNV
		left join NHACUNGCAP ncc on ncc.MaNCC = sp.MaNCC
		
		where ct.MaSP = @maSP and ct.isXoa = 0 and dhn.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindDonHangXuat]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindDonHangXuat] @maLoaiSP NVARCHAR(Max)
AS
BEGIN TRY
  select nv.Hoten,dl.Ten as TenDL, ct.MaDHX,lv.TrangThai, t.TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai, sp.MaSP,dhx.PhuongTien, dhx.ThoiGian from DONHANGXUAT dhx
		left join CHITIETDONHANGXUAT ct on dhx.MaDHX = ct.MaDHX
		left join SANPHAM sp on sp.MaSP = ct.MaSP
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		left join LUUVET lv on lv.MaDHX = ct.MaDHX
		left join TRAM t on t.MaTram = lv.MaTram
		left join NHANVIEN nv on nv.MaNV = lv.MaNV
		left join NHACUNGCAP ncc on ncc.MaNCC = sp.MaNCC
		left join DAILY dl on dl.MaDL = dhx.MaDaiLy
		where dhx.MaDHX = @maLoaiSP and lv.isXoa = 0 and ct.isXoa = 0 and dl.isXoa = 0 and dhx.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindDonHangXuatTonKho]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindDonHangXuatTonKho] @maSP NVARCHAR(Max)
AS
BEGIN TRY
  select nv.Hoten,dl.Ten as TenDL, ct.MaDHX,lv.TrangThai, t.TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai, sp.MaSP,dhx.PhuongTien, dhx.ThoiGian from CHITIETDONHANGXUAT  ct
		left join DONHANGXUAT dhx on dhx.MaDHX = ct.MaDHX
		left join SANPHAM sp on sp.MaSP = ct.MaSP
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		left join LUUVET lv on lv.MaDHX = ct.MaDHX
		left join TRAM t on t.MaTram = lv.MaTram
		left join NHANVIEN nv on nv.MaNV = lv.MaNV
		left join NHACUNGCAP ncc on ncc.MaNCC = sp.MaNCC
		left join DAILY dl on dl.MaDL = dhx.MaDaiLy
		where sp.MaSP = @maSP and lv.isXoa = 0 and ct.isXoa = 0 and dl.isXoa = 0 and dhx.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindLoaiSanPham]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindLoaiSanPham] @maLoaiSP NVARCHAR(Max)
AS

BEGIN TRY
  select nv.Hoten,dl.Ten as TenDL, ct.MaDHX,lv.TrangThai, t.TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai,sp.MaSP from LOAISANPHAM lsp
		left join SANPHAM sp on sp.MaLoai = lsp.MaLoai
		left join CHITIETDONHANGXUAT ct on sp.MaSP = ct.MaSP
		left join LUUVET lv on lv.MaDHX = ct.MaDHX
		left join TRAM t on t.MaTram = lv.MaTram
		left join NHANVIEN nv on nv.MaNV = lv.MaNV
		left join NHACUNGCAP ncc on ncc.MaNCC = sp.MaNCC
		left join DONHANGXUAT dhx on dhx.MaDHX = ct.MaDHX
		left join DAILY dl on dl.MaDL = dhx.MaDaiLy
		where lsp.MaLoai = @maLoaiSP and lv.isXoa = 0 and ct.isXoa = 0 and dhx.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0 and dl.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindNhaCC]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindNhaCC] @ma NVARCHAR(Max)
AS

BEGIN TRY
  select nv.Hoten,ct.MaDHN as MaDHX,ct.TrangThai, ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai, sp.MaSP from NHACUNGCAP ncc
  		left join DONHANGNHAP dhn on dhn.MaNhaCC = ncc.MaNCC
		left join CHITIETDONHANGNHAP ct on dhn.MaDHN = ct.MaDHN
		left join SANPHAM sp on sp.MaSP = ct.MaSP
		left join NHANVIEN nv on nv.MaNV = dhn.MaNV
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		where ncc.MaNCC = @ma and ct.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindNhanVien]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FindNhanVien] @maNV NVARCHAR(Max)
AS

BEGIN TRY
  select nv.Hoten,dl.Ten as TenDL, ct.MaDHX,lv.TrangThai, t.TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai, sp.MaSP from LUUVET lv 
		left join TRAM t on t.MaTram = lv.MaTram
		left join CHITIETDONHANGXUAT ct on lv.MaDHX=ct.MaDHX
		left join DONHANGXUAT dhx on dhx.MaDHX = ct.MaDHX
		left join SANPHAM sp on sp.MaSP = ct.MaSP
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		left join NHACUNGCAP ncc on sp.MaNCC = ncc.MaNCC
		left join NHANVIEN nv on nv.MaNV = dhx.MaNV
		left join DAILY dl on dl.MaDL = dhx.MaDaiLy
		where nv.MaNV = @maNV and lv.isXoa = 0 and ct.isXoa = 0 and dhx.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0 and dl.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindSanPham]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_FindSanPham] @maSP NVARCHAR(Max)
AS

BEGIN TRY
  select nv.Hoten,dl.Ten as TenDL, ct.MaDHX,lv.TrangThai, t.TenTram,ct.SoLuong, sp.TenSP,ncc.TenNhaCC, lsp.TenLoai , sp.MaSP from SANPHAM sp
		left join CHITIETDONHANGXUAT ct on sp.MaSP = ct.MaSP
		left join LUUVET lv on lv.MaDHX = ct.MaDHX
		left join TRAM t on t.MaTram = lv.MaTram
		left join NHANVIEN nv on nv.MaNV = lv.MaNV
		left join NHACUNGCAP ncc on ncc.MaNCC = sp.MaNCC
		left join DONHANGXUAT dhx on dhx.MaDHX = ct.MaDHX
		left join DAILY dl on dl.MaDL = dhx.MaDaiLy
		left join LOAISANPHAM lsp on lsp.MaLoai = sp.MaLoai
		where sp.MaSP = @maSP and lv.isXoa = 0 and ct.isXoa = 0 and dhx.isXoa = 0 and sp.isXoa = 0 and lsp.isXoa = 0 and ncc.isXoa = 0 and nv.isXoa = 0 and dl.isXoa = 0
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  StoredProcedure [dbo].[sp_FindStringInTable]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindStringInTable] @stringToFind NVARCHAR(Max), @schema sysname, @table sysname 
AS

BEGIN TRY
   DECLARE @sqlCommand NVARCHAR(max) = 'SELECT * FROM [' + @schema + '].[' + @table + '] WHERE ' 

   SELECT @sqlCommand = @sqlCommand + '[' + COLUMN_NAME + '] LIKE N''%' + @stringToFind+ '%'' OR '
   FROM INFORMATION_SCHEMA.COLUMNS 
   WHERE TABLE_SCHEMA = @schema
   AND TABLE_NAME = @table 
   --AND DATA_TYPE IN ('char','nchar','ntext','nvarchar','text','varchar')
   
   print @sqlCommand

   SET @sqlCommand = left(@sqlCommand,len(@sqlCommand)-3)
   EXEC (@sqlCommand)
   
   
END TRY

BEGIN CATCH 
   PRINT 'There was an error. Check to make sure object exists.'
   PRINT error_message()
END CATCH 
GO
/****** Object:  Table [dbo].[CHITIETDONHANGNHAP]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANGNHAP](
	[MaDHN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_CHITIETDONHANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MaDHN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONHANGXUAT]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANGXUAT](
	[MaDHX] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_CHITIETDONHANGXUAT_1] PRIMARY KEY CLUSTERED 
(
	[MaDHX] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DAILY](
	[MaDL] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai] [int] NULL,
	[Ten] [nvarchar](50) NULL,
	[SoDT] [varchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[MaDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONHANGNHAP]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANGNHAP](
	[MaDHN] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCC] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNV] [int] NULL,
	[isXoa] [bit] NULL,
	[ThoiGian] [int] NULL,
	[PhuongTien] [nvarchar](500) NULL,
 CONSTRAINT [PK_DONHANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MaDHN] ASC,
	[MaNhaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANGXUAT]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANGXUAT](
	[MaDHX] [int] IDENTITY(1,1) NOT NULL,
	[MaDaiLy] [int] NOT NULL,
	[MaNV] [int] NULL,
	[TrangThai] [bit] NULL,
	[isXoa] [bit] NULL,
	[ThoiGian] [int] NULL,
	[PhuongTien] [nvarchar](500) NULL,
 CONSTRAINT [PK_DONHANGXUAT] PRIMARY KEY CLUSTERED 
(
	[MaDHX] ASC,
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GhiLog]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GhiLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](50) NULL,
	[Username] [varchar](50) NULL,
	[TimeAction] [datetime] NULL,
	[Content] [ntext] NULL,
	[TableName] [nvarchar](50) NULL,
 CONSTRAINT [PK_GhiLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIDAILY]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDAILY](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[Cap] [int] NULL,
	[MucChietKhau] [nvarchar](50) NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_LOAIDAILY] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUUVET]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUUVET](
	[MaDHX] [int] NOT NULL,
	[MaTram] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[TrangThai] [bit] NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_LUUVET] PRIMARY KEY CLUSTERED 
(
	[MaDHX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCC] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [bit] NULL,
	[Ngayvaolam] [date] NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai] [int] NULL,
	[MaNCC] [int] NULL,
	[TenSP] [nvarchar](50) NULL,
	[TrongLuong] [float] NULL,
	[ThoiHanSuDung] [smallint] NULL,
	[QuyCachDongGoi] [nvarchar](50) NULL,
	[Gia] [float] NULL,
	[Ghichu] [nvarchar](500) NULL,
	[isXoa] [bit] NULL,
	[ThoiGian] [nvarchar](500) NULL,
	[BaoQuan] [nvarchar](500) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SQLGOIY]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLGOIY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameTable] [nvarchar](50) NULL,
	[Name] [nvarchar](max) NULL,
	[SqlString] [nvarchar](max) NULL,
 CONSTRAINT [PK_SQLGOIY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SQLSPARQL]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLSPARQL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameTable] [nvarchar](50) NULL,
	[Name] [nvarchar](500) NULL,
	[SqlString] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SQLSPARQL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[HoTen] [nvarchar](500) NULL,
	[ISADMIN] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRAM]    Script Date: 4/28/2020 1:33:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAM](
	[MaTram] [int] IDENTITY(1,1) NOT NULL,
	[TenTram] [nvarchar](50) NULL,
	[isXoa] [bit] NULL,
 CONSTRAINT [PK_TRAM] PRIMARY KEY CLUSTERED 
(
	[MaTram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETDONHANGNHAP] ([MaDHN], [MaSP], [SoLuong], [TrangThai], [isXoa]) VALUES (1, 1, 50, NULL, 0)
INSERT [dbo].[CHITIETDONHANGNHAP] ([MaDHN], [MaSP], [SoLuong], [TrangThai], [isXoa]) VALUES (1, 2, 300, N'', 0)
INSERT [dbo].[CHITIETDONHANGNHAP] ([MaDHN], [MaSP], [SoLuong], [TrangThai], [isXoa]) VALUES (2, 2, 200, N'1', 0)
GO
INSERT [dbo].[CHITIETDONHANGXUAT] ([MaDHX], [MaSP], [SoLuong], [isXoa]) VALUES (1, 7, 52, 0)
INSERT [dbo].[CHITIETDONHANGXUAT] ([MaDHX], [MaSP], [SoLuong], [isXoa]) VALUES (2, 2, 15, 0)
INSERT [dbo].[CHITIETDONHANGXUAT] ([MaDHX], [MaSP], [SoLuong], [isXoa]) VALUES (2, 9, 15, 0)
GO
SET IDENTITY_INSERT [dbo].[DAILY] ON 

INSERT [dbo].[DAILY] ([MaDL], [MaLoai], [Ten], [SoDT], [DiaChi], [isXoa]) VALUES (1, 1, N'Hoa Quả Sấy Nguyên Vũ - Đà Lạt', N' 0977 844 909', N' CT4 Đỗ Nhuận, Xuân Đỉnh, Bắc Từ Liêm, Hà Nội (cạnh công viên Hòa Bình)', 0)
INSERT [dbo].[DAILY] ([MaDL], [MaLoai], [Ten], [SoDT], [DiaChi], [isXoa]) VALUES (2, 1, N'Đại lý hoa quả sấy Đà Lạt Farm', N'0977 554 663', N'68D, Bùi Thị Xuân, Phường 8 , TP.Đà Lạt, Lâm Đồng', 0)
INSERT [dbo].[DAILY] ([MaDL], [MaLoai], [Ten], [SoDT], [DiaChi], [isXoa]) VALUES (3, 3, N'Đại Lý Đặc Sản Mai Anh Đào
', N'0263 3553 695', N'263 Đường Mai Anh Đào, Phường 8, Thành phố Đà Lạt, Lâm Đồng', 0)
SET IDENTITY_INSERT [dbo].[DAILY] OFF
SET IDENTITY_INSERT [dbo].[DONHANGNHAP] ON 

INSERT [dbo].[DONHANGNHAP] ([MaDHN], [MaNhaCC], [NgayNhap], [MaNV], [isXoa], [ThoiGian], [PhuongTien]) VALUES (1, 1, CAST(0x0000AA9C00000000 AS DateTime), 1, 0, 2, N'Hàng Không')
INSERT [dbo].[DONHANGNHAP] ([MaDHN], [MaNhaCC], [NgayNhap], [MaNV], [isXoa], [ThoiGian], [PhuongTien]) VALUES (2, 1, CAST(0x0000AA9C00000000 AS DateTime), 1, 0, 2, N'Hàng Khôngggg')
INSERT [dbo].[DONHANGNHAP] ([MaDHN], [MaNhaCC], [NgayNhap], [MaNV], [isXoa], [ThoiGian], [PhuongTien]) VALUES (3, 1, CAST(0x0000AA9C00000000 AS DateTime), 16, 0, 2, N'Hàng Không')
SET IDENTITY_INSERT [dbo].[DONHANGNHAP] OFF
SET IDENTITY_INSERT [dbo].[DONHANGXUAT] ON 

INSERT [dbo].[DONHANGXUAT] ([MaDHX], [MaDaiLy], [MaNV], [TrangThai], [isXoa], [ThoiGian], [PhuongTien]) VALUES (2, 3, 1, 0, 0, 4, N'Xe Ôtô')
INSERT [dbo].[DONHANGXUAT] ([MaDHX], [MaDaiLy], [MaNV], [TrangThai], [isXoa], [ThoiGian], [PhuongTien]) VALUES (3, 1, 3, 1, 0, 3, N'Xe Ôtô')
INSERT [dbo].[DONHANGXUAT] ([MaDHX], [MaDaiLy], [MaNV], [TrangThai], [isXoa], [ThoiGian], [PhuongTien]) VALUES (4, 3, 4, 0, 0, 3, N'Xe Ôtô')
GO
SET IDENTITY_INSERT [dbo].[DONHANGXUAT] OFF
SET IDENTITY_INSERT [dbo].[LOAIDAILY] ON 

INSERT [dbo].[LOAIDAILY] ([MaLoai], [Cap], [MucChietKhau], [isXoa]) VALUES (1, 1, N'1000', 0)
INSERT [dbo].[LOAIDAILY] ([MaLoai], [Cap], [MucChietKhau], [isXoa]) VALUES (2, 2, N'850', 0)
INSERT [dbo].[LOAIDAILY] ([MaLoai], [Cap], [MucChietKhau], [isXoa]) VALUES (3, 3, N'750', 0)
SET IDENTITY_INSERT [dbo].[LOAIDAILY] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai], [isXoa]) VALUES (1, N'Trà', 0)
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai], [isXoa]) VALUES (2, N'Trái cây thông dụng sấy', 0)
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai], [isXoa]) VALUES (3, N'Atiso', 0)
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
INSERT [dbo].[LUUVET] ([MaDHX], [MaTram], [MaNV], [TrangThai], [isXoa]) VALUES (1, 3, 241, 1, 0)
INSERT [dbo].[LUUVET] ([MaDHX], [MaTram], [MaNV], [TrangThai], [isXoa]) VALUES (2, 3, 2, 1, 0)
INSERT [dbo].[LUUVET] ([MaDHX], [MaTram], [MaNV], [TrangThai], [isXoa]) VALUES (3, 2, 3, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNhaCC], [GhiChu], [isXoa]) VALUES (1, N'CÔNG TY TNHH DALAVI', N'CÔNG TY TNHH DALAVI
', 0)
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNhaCC], [GhiChu], [isXoa]) VALUES (2, N'CÔNG TY TNHH ĐÀ LẠT XANH VN
', N'CÔNG TY TNHH ĐÀ LẠT XANH VN
', 0)
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNhaCC], [GhiChu], [isXoa]) VALUES (3, N'Cầu Đất Farm
', N'Cung cấp các loại đặc sản hoa quả sấy khô
', 0)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [Hoten], [Ngaysinh], [Gioitinh], [Ngayvaolam], [isXoa]) VALUES (1, N'Phan Ngọc Bảo', CAST(0x17100B00 AS Date), 1, CAST(0x9A360B00 AS Date), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [Hoten], [Ngaysinh], [Gioitinh], [Ngayvaolam], [isXoa]) VALUES (2, N'Nguyễn Thị Huyền', CAST(0x85110B00 AS Date), 0, CAST(0x52320B00 AS Date), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [Hoten], [Ngaysinh], [Gioitinh], [Ngayvaolam], [isXoa]) VALUES (3, N'Trần Thị Ngọc Mai', CAST(0xF2120B00 AS Date), 0, CAST(0x52320B00 AS Date), 0)
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [MaLoai], [MaNCC], [TenSP], [TrongLuong], [ThoiHanSuDung], [QuyCachDongGoi], [Gia], [Ghichu], [isXoa], [ThoiGian], [BaoQuan]) VALUES (1, 1, 1, N'Trà sencha hoa lài', 0.5, 24, N'Đóng hộp', 105000, N'Thành phần: Trà Xanh Nhật Bản (Sencha) 90%, Hoa Lài 9.5%, Hương Hoa Lài 0.5%', 0, N'4', N'Nơi khô ráo. Tránh ánh nắng mặt trời chiếu trực tiếp. Luôn giữ sản phẩm kín khí khi không sử dụng')
INSERT [dbo].[SANPHAM] ([MaSP], [MaLoai], [MaNCC], [TenSP], [TrongLuong], [ThoiHanSuDung], [QuyCachDongGoi], [Gia], [Ghichu], [isXoa], [ThoiGian], [BaoQuan]) VALUES (2, 1, 1, N'Trà sencha hoa cúc', 0.5, 24, N'Đóng hộp', 109000, N'Thành phần: Trà Xanh Nhật Bản (Sencha) 87.2%, Hoa Cúc 11.6%, Hương Hoa Cúc 1.2%', 0, N'4', N'Bảo quản nơi khô ráo, thoáng mát. Tránh ánh nắng mặt trời chiếu trực tiếp. Luôn giữ sản phẩm kín khí khi không sử dụng')
INSERT [dbo].[SANPHAM] ([MaSP], [MaLoai], [MaNCC], [TenSP], [TrongLuong], [ThoiHanSuDung], [QuyCachDongGoi], [Gia], [Ghichu], [isXoa], [ThoiGian], [BaoQuan]) VALUES (3, 1, 1, N'Trà tim sen', 0.5, 24, N'Đóng hộp', 200000, N'Thành phần: Tim Sen 60%, Lạc Tiên 32%, Cỏ Ngọt 8%
', 0, N'4', N' Nơi khô ráo, thoáng mát. Tránh ánh nắng mặt trời chiếu trực tiếp')
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[SQLGOIY] ON 

INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (2, N'Sản Phẩm', N'Tìm tất cả sản phẩm (2)_SP', N'select * from sanpham')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (3, N'Sản Phẩm', N'Tìm sản phẩm có tên là trà(3)_SP', N'Select * From SANPHAM Where TenSP Like ''%Trà%''')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (4, N'Sản Phẩm', N'Tìm sản phẩm có trọng lượng nhỏ hơn hoặc bằng 0.5(4)_SP', N'select * from SANPHAM where TrongLuong <= 0.5')
GO
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (130, N'Sản Phẩm', N'Tìm sản phẩm có quy cách đóng gói là Hũ có thời gian sản xuất trên 5 ngày(130)_SP', N'
select * from SANPHAM where QuyCachDongGoi like N''%Hũ%'' and ThoiGian > 5')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (147, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe ôtô(147)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like N''%Xe Ôtô%''
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (148, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe đầu kéo, Container(148)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like N''%Xe d?u kéo, Container%''
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (149, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Tàu lửa(149)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Tàu l?a%''
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (150, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Hàng Không(150)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Hàng Không%''
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (151, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe ôtô và thời gian là dưới 5 ngày(151)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Xe Ôtô%'' and thoigian < 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (152, N'Đơn Hàng Xuất', N' Tìm đơn hàng xuất có phương tiện vận chuyển là xe ôtô và thời gian là trên 5 ngày(152)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Xe Ôtô%'' and thoigian > 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (153, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe ôtô và thời gian là trên 10 ngày(153)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Xe Ôtô%'' and thoigian > 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (154, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe ôtô và thời gian là dưới 10 ngày(154)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Xe Ôtô%'' and thoigian < 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (155, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe đầu kéo, Container và thời gian là dưới 5 ngày(155)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Xe d?u kéo, Container%'' and thoigian < 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (156, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe đầu kéo, Container và thời gian là trên 5 ngày(156)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Xe d?u kéo, Container%'' and thoigian > 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (157, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là xe đầu kéo, Container và thời gian là trên 10 ngày(157)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Xe d?u kéo, Container%'' and thoigian > 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (158, N'Đơn Hàng Xuất', N' Tìm đơn hàng xuất có phương tiện vận chuyển là xe đầu kéo, Container và thời gian là dưới 10 ngày(158)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Xe d?u kéo, Container%'' and thoigian < 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (159, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Tàu lửa và thời gian là dưới 5 ngày(159)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Tàu l?a%'' and thoigian < 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (160, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Tàu lửa và thời gian là trên 5 ngày(160)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Tàu l?a%'' and thoigian > 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (161, N'Đơn Hàng Xuất', N' Tìm đơn hàng xuất có phương tiện vận chuyển là Tàu lửa và thời gian là trên 10 ngày(161)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Tàu l?a%'' and thoigian > 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (162, N'Đơn Hàng Xuất', N' Tìm đơn hàng xuất có phương tiện vận chuyển là Tàu lửa và thời gian là dưới 10 ngày(162)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like   N''%Tàu l?a%'' and thoigian < 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (163, N'Đơn Hàng Xuất', N' Tìm đơn hàng xuất có phương tiện vận chuyển là Hàng Không và thời gian là dưới 5 ngày(163)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Hàng Không%''  and thoigian < 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (164, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Hàng Không và thời gian là trên 5 ngày(164)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Hàng Không%''  and thoigian > 5
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (165, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Hàng Không và thời gian là trên 10 ngày(165)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Hàng Không%''  and thoigian > 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
INSERT [dbo].[SQLGOIY] ([ID], [NameTable], [Name], [SqlString]) VALUES (166, N'Đơn Hàng Xuất', N'Tìm đơn hàng xuất có phương tiện vận chuyển là Hàng Không  và thời gian là dưới 10 ngày(166)_DHX', N'
select distinct dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX,SoLuong, ct.isXoa,CONVERT(int, ldl.MucChietKhau) as MucChietKhau,ThoiGian,PhuongTien from DONHANGXUAT dhx 
left join CHITIETDONHANGXUAT ct on dhx.MaDHX=ct.MaDHX
left join DAILY dl  on dl.MaDL = dhx.MaDaiLy 
left join LOAIDAILY ldl on ldl.MaLoai = dl.MaLoai where PhuongTien like  N''%Hàng Không%''  and thoigian < 10
order by SoLuong , MucChietKhau,  dhx.MaDHX, MaDaiLy, MaNV, TrangThai, dhx.isXoa, ct.MaDHX, ct.isXoa')
SET IDENTITY_INSERT [dbo].[SQLGOIY] OFF
SET IDENTITY_INSERT [dbo].[SQLSPARQL] ON 

INSERT [dbo].[SQLSPARQL] ([Id], [NameTable], [Name], [SqlString]) VALUES (1, N'Loại Sản Phẩm', N'Tìm tất cả loại sản phẩm (1)_LSP', N'SELECT ?LSP_TenLoai ?LSP_MaLoai WHERE { ?x Root:LSP_TenLoai ?LSP_TenLoai.?x Root:LSP_MaLoai ?LSP_MaLoai.}LIMIT 25')
SET IDENTITY_INSERT [dbo].[SQLSPARQL] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID], [TaiKhoan], [MatKhau], [HoTen], [ISADMIN]) VALUES (1, N'admin', N'21232F297A57A5A743894A0E4A801FC3', N'phuoc 122', 1)
INSERT [dbo].[TAIKHOAN] ([ID], [TaiKhoan], [MatKhau], [HoTen], [ISADMIN]) VALUES (2, N'tnphuoc', N'21232F297A57A5A743894A0E4A801FC3', N'Tran Ngoc A', 0)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[TRAM] ON 

INSERT [dbo].[TRAM] ([MaTram], [TenTram], [isXoa]) VALUES (1, N'Trạm Bùi Thì Xuân', 0)
INSERT [dbo].[TRAM] ([MaTram], [TenTram], [isXoa]) VALUES (2, N'Trạm Nguyễn Văn Cừ', 0)
INSERT [dbo].[TRAM] ([MaTram], [TenTram], [isXoa]) VALUES (3, N'Trạm Phù Đổng Thiên Vương', 0)
SET IDENTITY_INSERT [dbo].[TRAM] OFF
ALTER TABLE [dbo].[LOAIDAILY] ADD  CONSTRAINT [DF_LOAIDAILY_isXoa]  DEFAULT ((0)) FOR [isXoa]
GO
ALTER TABLE [dbo].[LUUVET] ADD  CONSTRAINT [DF_LUUVET_TTVC]  DEFAULT ((0)) FOR [MaTram]
GO
ALTER TABLE [dbo].[LUUVET] ADD  CONSTRAINT [DF_LUUVET_Tram1]  DEFAULT ((0)) FOR [MaNV]
GO
ALTER TABLE [dbo].[LUUVET] ADD  CONSTRAINT [DF_LUUVET_Tram2]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LUUVET] ADD  CONSTRAINT [DF_LUUVET_isXoa]  DEFAULT ((0)) FOR [isXoa]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [DF_NHACUNGCAP_isXoa]  DEFAULT ((0)) FOR [isXoa]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_isXoa]  DEFAULT ((0)) FOR [isXoa]
GO
ALTER TABLE [dbo].[TRAM] ADD  CONSTRAINT [DF_TRAM_isXoa]  DEFAULT ((0)) FOR [isXoa]
GO
