<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/qrcode.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/css.css" rel="stylesheet" />
    @*<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var sp = undefined;
        var sanphamXuat = undefined;
    </script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>*@

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
 
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-info-circle"></i>
                        @*<span class="badge badge-warning navbar-badge">15</span>*@
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left:auto;">
                        @*<span class="dropdown-item dropdown-header">15 Notifications</span>*@
                        <div class="dropdown-divider"></div>
                        <a href="/TaiKhoans/LogOut" class="dropdown-item">
                            @*<i class="fas fa-envelope mr-2"></i>*@
                            <i class="fas fa-sign-out-alt mr-2"></i> Đăng Xuất
                            @*<span class="float-right text-muted text-sm">3 mins</span>*@
                        </a>
                        @*<div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>*@
                    </div>
                </li>
               
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/Content/dist/img/AdminLTELogo.png"
                     alt="Quản Lý Nông Sản"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">QLNS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Session["username"]</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        @*<li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-store"></i>
                                <p>
                                    SQL Gợi Ý
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/SQLGoiYS/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-store"></i>
                                <p>
                                    Loại Sản Phẩm
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/LoaiSanPhams/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-product-hunt"></i>
                                <p>
                                    Sản Phẩm
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/SanPhams/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Nhân Viên
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/NhanViens/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>                                <p>
                                    Đại Lý
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/DaiLies/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-store"></i>
                                <p>
                                    Loại Đại Lý
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/LoaiDaiLies/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice"></i>
                                <p>
                                    Đơn Hàng Nhập
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/DonHangNhaps/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice"></i>
                                <p>
                                    Đơn Hàng Xuất
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/DonHangXuats/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                       
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>                                <p>
                                    Nhà Cung Cấp
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/NhaCungCaps/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-code-branch"></i>
                                                                <p>
                                    Trạm
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Trams/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-history"></i>
                                <p>
                                    Lưu Vết
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/LuuVets/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-search"></i>
                                <p>
                                   Tìm Kiếm
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/TimKiems/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Tìm Kiếm</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Tài Khoản
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/TaiKhoans/Index" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-upload"></i>
                                <p>
                                    Upload File
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/TimKiems/UploadFiles" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-memory"></i>
                                <p>
                                    Hàng Tồn Kho
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/TimKiems/TonKho" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>

                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-clock"></i>
                                <p>
                                    Lịch sử sửa đổi
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/SanPhams/GetAllLogHistory" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>

                                        <p>Danh Sách</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                @*<b>Version</b> 3.0.2*@
            </div>
            <strong>QLNS</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- Modal -->
    <div class="modal" id='info-product' tabindex='-1' data-backdrop='static' data-keyboard='false' role="dialog">
        <div class="modal-dialog" role="document" style="top:25%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông Tin Sản Phẩm</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- ./wrapper -->
    <div id="loading">
        <img id="loading-image" src="~/Content/images/ajax-loader.gif" alt="Loading..." />
    </div>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>

    <script>
      $(function () {
          $("#example1").DataTable({
              "aaSorting": [],
              "drawCallback": function () {
                  $('[data-toggle="popover"]').popover({ html: true });
              }
          });
      });
      //Initialize Select2 Elements
      $('.select2bs4').select2({
          theme: 'bootstrap4'
      });
      if (sp) {
          $('#MaSP').val(sp).trigger('change');
      }
      if (sanphamXuat) {
          $('#MaSP').val(sanphamXuat).trigger('change');
      }

      $(document).ready(function (e) {
          $('.group-sql .menu-sql').find('a').click(function (e) {
              e.preventDefault();
              var param = $(this).attr("href").replace("#", "");
              var concept = $(this).text();
              $('.group-sql span#search_concept').text(concept);
              $('#search_param').val(param);
          });
      });
      var dataListProduct = [];
      $(document).ready(function () {
            var param = { ValueSearch: $('#ValueSearch').val(), option: $("#search_param").val() };
            $.ajax({
                url: "/TimKiems/LoadDataInit/",
                data: param,
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    $("#ValueSearch").autocomplete({
                        source: JSON.parse(data.data),
                        open: function() {
                            $("ul.ui-menu").height(400);
                            $("ul.ui-menu").css("overflow-y", "scroll");
                            }
                    });
                    $("#ValueSearchSparql").autocomplete({
                        source: JSON.parse(data.dataSQL),
                        open: function() {
                            $("ul.ui-menu").height(400);
                            $("ul.ui-menu").css("overflow-y", "scroll");
                        }
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Ajax Error!", ex.Message);
                }
            });

            $("#ValueSearchRegex").keyup(function (e) {
                var valueStr = $("#ValueSearchRegex").val();
                if (e.keyCode == 32) {
                    $.ajax({
                        url: "/TimKiems/GetDataSearch/",
                        data: { str: valueStr },
                        type: "POST",
                        success: function (data) {
                            $(".card-body").html("");
                            var dataParse = JSON.parse(data.data);
                            console.log(dataParse);
                            var strHtml = "<table id='example1' class='table table-bordered table-striped'>";
                            strHtml += "<thead><tr><th>Column Name</th><th>Value</th></tr></thead><tbody>";
                            for(var item of dataParse) {
                                strHtml += "<tr>";
                                strHtml += "<td>" + item.ColumnName + "</td>";
                                strHtml += "<td>" + item.ColumnValue + "</td>";
                                strHtml += "</tr>";
                            }
                            strHtml += "<tfoot><tr><th>Column Name</th><th>Value</th></tr></tfoot>";
                            $(".card-body").html(strHtml);
                            $("#example1").DataTable({
                                "bAutoWidth": true,
                                "columns": [
                                    { "width": "25%" },
                                    null
                                ],
                                "aaSorting": []
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
      });

      $(document).ready(function () {
          $('#loading').hide();
        $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
        $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
        $("div[onmouseover='S_ssac();']").remove();
        $("center").remove();
        $("div[style='height: 65px;']").remove();
      });

      $(document).ready(function () {
          $('[data-toggle="popover"]').popover({html:true});
      });

      $('body').on('click', function (e) {
          //did not click a popover toggle, or icon in popover toggle, or popover
          if ($(e.target).data('toggle') !== 'popover'
              && $(e.target).parents('[data-toggle="popover"]').length === 0
              && $(e.target).parents('.popover.in').length === 0) {
              $('[data-toggle="popover"]').popover('hide');
          }
      });
    </script>
    <script src="~/Scripts/FuncScript/commonFunc.js"></script>
    
</body>
</html>
